---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/c6bae8dd99352808b9caa7d82b0c5450/39.523,-104.325
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 77.334ms
      X-Hostname:
      - 93.api
    body:
      encoding: UTF-8
      string: '{"latitude":39.523,"longitude":-104.325,"timezone":"America/Denver","offset":-7,"currently":{"time":1452729745,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":244,"nearestStormBearing":322,"precipIntensity":0,"precipProbability":0,"temperature":41.63,"apparentTemperature":36.7,"dewPoint":28.01,"humidity":0.58,"windSpeed":7.76,"windBearing":203,"visibility":9.72,"cloudCover":0.31,"pressure":1012.16,"ozone":308.28},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1452729720,"precipIntensity":0,"precipProbability":0},{"time":1452729780,"precipIntensity":0,"precipProbability":0},{"time":1452729840,"precipIntensity":0,"precipProbability":0},{"time":1452729900,"precipIntensity":0,"precipProbability":0},{"time":1452729960,"precipIntensity":0,"precipProbability":0},{"time":1452730020,"precipIntensity":0,"precipProbability":0},{"time":1452730080,"precipIntensity":0,"precipProbability":0},{"time":1452730140,"precipIntensity":0,"precipProbability":0},{"t[...]
