<div class="ui link list">
  <div class="item header">Mountains</div>
  <% @mountains.each do |mountain| %>
    <%= link_to mountain.name, mountain_path(mountain), class: "item" %>
  <% end %>
</div>
