<div class="top-pad">
  <div class="ui two column centered grid">
    <div class="column">
      <h1>Browse Mountains</h1>

    <% cache cache_key_for(Mountain, "browse") do %>
      <div class="browse">
        <% @mountains.sort_state_codes.each do |state_code| %>
        <h4><%= state_code %></h4>
        <% @mountains.state(state_code).in_groups_of(4, false) do |mountain_row| %>
        <tr>
          <% for mountain in mountain_row %>
          <td>
              --<%= link_to "#{mountain.name}, (#{mountain.state}) ", mountain_path(mountain), class: "item" %>--
          </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
