<br>
<br>
<br>

<h1>Browse Mountains</h1>

<div class="ui link list">
  <table>
  <% @mountains.in_groups_of(5, false) do |mountain_row| %>
    <tr>
      <% for mountain in mountain_row %>
        <td><%= link_to mountain.name, mountain_path(mountain), class: "item" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>

<table>
  <% Mountain.group(:state).count.keys.sort_by { |k| k }.each do |state_code| %>
    <h4><%= state_code %></h4>
    <% Mountain.state(state_code).each do |mountain| %>
    <li>
      <ul>
        <%= link_to mountain.name, mountain_path(mountain) %>
      </ul>
    </li>
    <% end %>
  <% end %>
</table>
