<br>
<br>
<br>
<div class="ui container">
  <div class="ui search">
    <%= form_tag( id: "seach-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a Mountain" %>
    <% end %>
  </div>

  <div class="ui grid container search-results">
    <% @mountains.each do |mountain| %>
    <div class="four wide column">
      <%= link_to "#{mountain.name}, (#{mountain.state}) ", mountain_path(mountain), class: "item" %>
    </div>
    <% end %>
  </div>

</div>
