<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Powder Alert</title>
    <style>
      body {background-color:#F9FAFB;}
    </style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                        <tr>
                            <td align="center" valign="top">
                              <h1> <%= @user.name %> </h1>
                              <h2>Get Stoked - Snow is on the Way!</h2>

                              Here's a list of the days that your favorite resorts will be getting snow.
                              Start planning now so you can get first chair on that powder day :)

                              <h3><% @forecast.each do |mountain| %></h3>
                                <%= mountain.keys.first %>:
                              <table border="1" style="wide: 100%" border-color="grey">
                                <tr>
                                  <th>Date</th>
                                  <th>Amount</th>
                                </tr>
                                <% mountain.values.flatten(1).each do |pair| %>
                                <tr>
                                  <td align="center"> <%= pair.first.strftime("%a, %b %e") %> </td>
                                  <td align="center"> <%= pair.last.to_i %>"</td>
                                </tr>
                                <% end %>
                              </table>
                              <br>
                              <% end %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
