<!DOCTYPE html>
<html>
  <head>
    <title>Powder Alert</title>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Get Stoked - Snow is on the Way!</h1>
  </body>
</html>
