/* line 2, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
body {
  margin-top: 60px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 9, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
main {
  flex: 1 0 auto;
}

/* line 13, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.transparent {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* line 17, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.bring-forward {
  z-index: 100000;
}

/* line 21, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.background {
  background-image: url(/assets/bg1-62767cb94a06efb9b2644b1943d208c5a044c5eac377a58037767d35027df7e6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

/* line 28, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.centered {
  text-align: center;
  margin: 0 auto;
}

/*start------------Font--------------start*/
/* line 35, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.header-text {
  padding-top: 80px;
  text-align: center;
}

/* line 40, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.jumbo-font {
  font-size: 50px;
}

/* line 44, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.sub-header {
  font-size: 24px;
}

/* line 48, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.os300 {
  font-family: 'Open Sans';
  font-weight: 300;
}

/* line 53, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.os400 {
  font-family: 'Open Sans';
  font-weight: 400;
}

/* line 58, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.os600 {
  font-family: 'Open Sans';
  font-weight: 600;
}

/* line 63, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.os300i {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}

/* line 68, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.os400i {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
}

/* line 74, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.white {
  color: white;
}

/* line 78, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.outline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*end------------Font--------------end*/
/* line 84, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.ui.menu .ui.dropdown.item .menu {
  background-color: rgba(93, 93, 93, 0.94) !important;
}

/* line 88, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.ui.menu .ui.dropdown.item .menu .link {
  color: white !important;
}

/* line 92, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.tap-right {
  margin-left: 10px;
}

/* line 96, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.push-down {
  padding-top: 100px;
}

/* line 100, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.nudge-down {
  margin-top: 25px !important;
}

/* line 104, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.resort-logo {
  height: 185px !important;
  display: block;
}

/* line 109, /Users/Matt/Turing/3-mod/projects/snow_alert/app/assets/stylesheets/custom.css.scss */
.resorts {
  padding-top: 30px;
  padding-bottom: 30px;
}
