<div class="ui container">
  <br>
  <br>

  <div class="left">

  </div>
  <h1>My Mountain Dashboard</h1>

  <div class="ui divider"></div>
    <br>
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui secondary vertical pointing fluid menu">
          <a class="item active">
            Resorts
          </a>
          <a class="item">
            Preferences
          </a>
          <p>Snowfall preference: <%= current_user.snow_preference %>"</p>
          <p>email: <%= current_user.email %></p>
        </div>
      </div>
      <div class="twelve wide column">
        <table class="ui celled table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Forecast</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.favorites.each do |favorite| %>
      <tr>
        <td><%= link_to favorite.mountain.name, mountain_path(favorite.mountain) %></td>
        <td></td>
        <td class="collapsing">
              <div class="ui fitted slider checkbox checked">
                <input type="checkbox" tabindex="0" class="hidden"> <label></label>
              </div>
            </td>
      </tr>
      <% end %>
    </tbody>
  </table>
      </div>
    </div>
  </div>

</div>
