<% if @dialogue %>
  <%= render 'shared/modal' %>
<% end %>

<div class="ui container top-pad">

  <h1>My Mountain Dashboard</h1>

  <div class="ui divider"></div>
  <br>
  <div class="ui grid">
    <%= render '/shared/user_sidebar' %>
    <%= render '/shared/user_table' %>
  </div>
</div>
