<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Site Map</h4>
          <div class="ui inverted link list">
            <% if current_user %>
              <%= link_to "Search", search_path, class: "item" %>
              <%= link_to "Browse", mountains_path, class: "item" %>
            <% else %>
              <p class="item">Log in to view More</p>
            <% end %>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">My Info</h4>
          <div class="ui inverted link list">
            <% if current_user %>
              <%= link_to "My Dashboard", user_path(current_user), class: "item" %>
              <%= link_to "Preferences", edit_user_path(current_user), class: "item" %>
            <% else %>
            <p class="item">Log in to view More</p>
            <% end %>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Snow Alert</h4>
          <p>Check back regularly for newly added mountains.</p>
        </div>
      </div>
    </div>
  </div>
