<div class="ui large top fixed inverted menu">
    <div class="ui container">
    <a href='/' class="item">
      <i class="circular inverted cloud green icon"></i>
      SnowAlert
    </a>
    <a href='/login' class="item right floated">Sign Up</a>
  </div>
</div>
