/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

// Fonts

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);

$font-stack:    Open Sans, sans-serif;
$primary-color: #5BBD72;
$secondary-color: #414141;

body {
    font: 100% $font-stack;
    font-family: Open Sans;
    color: $secondary-color;
    margin-top: 60px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

// Colors
$blue             : #3B83C0;
$green            : #5BBD72;
$orange           : #E07B53;
$pink             : #D9499A;
$purple           : #564F8A;
$red              : #D95C5C;
$teal             : #00B5AD;
$yellow           : #F2C61F;
// -----
$black            : #414141;
$grey             : #CCCCCC;
$white            : #FFFFFF;
