body {
  margin-top: 40px;
}


.transparent {
  background-color: rgba(255, 255, 255, 0.1) !important
}

.bring-forward {
  z-index: 100000;
}

.background {
  background-image: url(/assets/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.header-text {
  padding-top: 80px;
  text-align: center;
}

.centered {
  text-align:center;
  margin:0 auto;
}

.os300 {
  font-family: 'Open Sans';
  font-weight: 300;
}

.os400 {
  font-family: 'Open Sans';
  font-weight: 400;
}

.os600 {
  font-family: 'Open Sans';
  font-weight: 600;
}

.os300i {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}
.os400i {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
}

.white {
  color: white;
}
