
  main {
    flex: 1 0 auto;
  }

.transparent {
  background-color: rgba(255, 255, 255, 0.1) !important
}

.bring-forward {
  z-index: 100000;
}

.background {
  background-image: image-url("bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.centered {
  text-align:center;
  margin:0 auto;
}

/*start------------Font--------------start*/

.header-text {
  padding-top: 80px;
  text-align: center;
}

.jumbo-font {
  font-size: 50px;
}

.sub-header {
  font-size: 24px;
}

.os300 {
  font-family: 'Open Sans';
  font-weight: 300;
}

.os400 {
  font-family: 'Open Sans';
  font-weight: 400;
}

.os600 {
  font-family: 'Open Sans';
  font-weight: 600;
}

.os300i {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}
.os400i {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
}

.white {
  color: white;
}

.outline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.downcase {
  text-transform: lowercase !important;
}

.smaller-stats {
  font-size: 3rem;
}

/*end------------Font--------------end*/

.ui.menu .ui.dropdown.item .menu {
  background-color: rgba(93, 93, 93, 0.94) !important;
}

.ui.menu .ui.dropdown.item .menu .link {
  color: white !important;
}

.tap-right {
  margin-left: 10px;
}

.push-down {
  padding-top: 100px;
}

.nudge-down {
  margin-top: 25px !important;
}

.resort-logo {
  height: 185px !important;
  display: block;
}

.resorts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.remove {
  color: red !important;
}

.add {
  color: green !important;
}

.hidden {
  display: none !important;
}
